.col-md-9
  %h1.text-center Your Repositories
  %hr
  #user-repositories-loading
    Loading your repository information
    .progress
      .progress-bar.progress-bar-striped.progress-bar-success.active.language-bar
  #user-repositories
.col-md-3.margin-bottom
  = image_tag(current_user.avatar_url, class: "img-rounded profile-picture")
  %button.btn.btn-warning.logout.btn-block Log Out
  %h3.light#user{ data: { user: current_user.github_id } }
    = octicon("person", true)
    = current_user.login
  %h4.light
    Language Breakdown
    %span.octicon.octicon-info{ data: { toggle: "tooltip", placement: "top", title: "Your usage of languages across your repositories." } }
  #user-languages-loading
    Calculating
    .progress
      .progress-bar.progress-bar-striped.progress-bar-success.active.language-bar
  #user-languages
  %h4.light
    Preferred Keywords
    %span.octicon.octicon-info{ data: { toggle: "tooltip", placement: "top", title: "Keywords boost the scores of repositories in which they are found." } }
  %p.light Choose 5 keywords in order of most desirable to least desirable.
  = render partial: "keywords"
