.col-md-9
  %h1.text-center Your Repositories
.col-md-3
  = image_tag(current_user.avatar_url, class: "img-rounded profile-picture")
  %h3.light= current_user.login
  %h4.light Your Language Breakdown
  #user-languages-loading
    Calculating
    .progress
      .progress-bar.progress-bar-striped-active#user-language-bar
  #user-languages
