.col-md-12
  .col-md-4
    %h4= repository.name

    %div{ id: "repo-languages-#{repository.id}" }
      %div
        Calculating Languages
        .progress
          .progress-bar.progress-bar-striped.progress-bar-success.active.language-bar
        :javascript
          $.ajax("repositories/#{repository.id}/languages");
