// Bootstrap body padding for fixed navbar
body
{
  padding-top: 10px;
  background-color: rgb(242, 242, 242);
}

// nice margin class
.margin-bottom
{
  margin-bottom: 5%;
}

.light
{
  font-weight: 200;
}

hr
{
  border-top: 1px solid #333333;
}

.logout
{
  display: block;
  margin-top: 3% !important;
  width: 50%;
}
